
<div class="container-fluid">
   
    <div class="row" >
        <div class="col-sm-12">
      <div style="margin-top: 50px; ">
        <div class="login" class="d-flex justify-content-center">
          <div class="col-sm-4 col-md-offset-2" style="border: 1px solid; padding: 10px; border-radius: 5px;">
              <div style="margin-bottom: -70px;">
               <div>
                <div class="logo">LOGO</div><br>
                <div><br><br>
                    <form [formGroup]="loginForm">
                    <div class="input-group mb-3">
                        <span for="exampleInputEmail1" class="input-group-text" id="basic-addon1">Email</span>
                        <input type="email" formControlName="email" class="form-control" id="exampleInputEmail1" placeholder="Email" aria-label="Email"
                            aria-describedby="basic-addon1" required>
                             <!-- [ngClass]="{ 'is-invalid': loginForm?.get('email')?.hasError('pattern') }" -->
                            <!-- <div *ngIf="loginForm.get('email')?.hasError('pattern')" class="invalid-feedback">
                                Please enter a valid email address.
                              </div> -->
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">Password</span>
                        <input type="password" class="form-control" formControlName="password" id="exampleInputEmail1" placeholder="Password" aria-label="Password"
                            aria-describedby="basic-addon1">
                    </div>
                    </form>
                </div><br><br>
                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-dark" (click)="login()"  [disabled]="loginForm.valid">LOGIN</button>
                </div><br><br>
                <div>
                    <p class="forgot-password">Forgot Password?</p>
                </div><br>
                <div class="icons">
                    <span><i class="fa fa-facebook-official" aria-hidden="true"></i></span>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <span><i class="fa fa-google"
                            aria-hidden="true"></i></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <span><i class="fa fa-whatsapp" aria-hidden="true"></i></span>&nbsp;
                </div>
                <br><br>
               </div>
            </div>
        </div>
    </div>
      </div>
      </div>
    </div> 
    
    
    